<launch>

<!-- Arguments -->
<arg name ="teleop" default="false"/>
<arg name="cmd_vel_topic" default="trikey/base_controller/cmd_vel" />
<arg name="odom_topic" default="odom" />
<arg name="base_frame" default="base_link"/>
<arg name="odom_frame" default="odom"/>
<arg name="scan" default="scan"/>
<arg name ="rviz" default="true"/>


<!-- Gazebo -->
<include file="$(find trikey_gazebo)/launch/bumpybot_gazebo.launch">
    <arg name="teleop" value="$(arg teleop)"/>
</include>

<!-- SLAM Stack -->
<include file="$(find bumpybot_navigation)/launch/slam_stack.launch">
    <arg name="teleop" value="$(arg teleop)"/>
    <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="base_frame" value="$(arg base_frame)"/>
    <arg name="odom_frame" value="$(arg odom_frame)"/>
    <arg name="scan" value="$(arg scan)"/>
    <arg name ="rviz" value="$(arg rviz)"/>
</include>


</launch>