<launch>

  <!-- Arguments -->
    <arg name="teleop" default="true" />
    <arg name="roller" default="false" />
    <arg name="vel_topic" default="/trikey/base_controller/cmd_vel" />
    <arg name="icp_odom" default="false" />
  


  <!--  Import URDF  -->
  <!-- With Rollers -->
  <group if="$(arg roller)">
    <param name="robot_description" command="$(find xacro)/xacro '$(find trikey_description)/urdf/urdf_generator/robot.urdf.xacro'"/>
  <!-- TODO: Incorparate trikey_base_controller to simulate roller physics -->
  </group>

  <!-- Without Rollers -->
  <group unless="$(arg roller)">
    <param name="robot_description" command="$(find xacro)/xacro '$(find trikey_description)/urdf/urdf_generator/simbot.urdf.xacro'"/>
  </group>


  <!-- Spwan the Robot -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model trikey -x -0.5 -y 0.1 -z 0.3 -param robot_description" /> 


  <!-- publish joints TFs for Rviz -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
      <remap from="/joint_states" to="/joint_states" />
    </node>


  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_house.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Publish ICP Odom -->
  <group if="$(arg icp_odom)">
    <include file="$(find bumpybot_navigation)/launch/icp_odom.launch">
      <arg name="rviz" value="false"/>
      <arg name="filter" value="true"/>
    </include>
  </group>
  
  
  <!-- Keyboard Teleop -->
  <group if="$(arg teleop)"> 
    <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" >
      <remap from="cmd_vel" to="$(arg vel_topic)"/>
    </node>
  </group>

</launch>